
body{
  color: #343434;
}

ul{
  list-style: none;
}

/* nav */

.a-underline-active{
    bottom: 7px;
    left: 7px;
    width: 75%;
    height: 2px;
    background-color: white;
}

/* home */

.home{
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-attachment: fixed;
    display: grid;
    place-content: center center;
    margin-bottom:60px ;
}

.home .home-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.home-content{
    z-index: 67678;
}

.home h1{
    color: white;
    font-size: 50px;
    text-align: center;
}

.home-content h2{
    font-size: 70px;
    color: white;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
  }
  
  .home .home-icon{
    z-index: 843789;
    margin: auto;
    margin-top: 30px;
  }

  .home .home-icon i{
    color: white;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: black;
  }

  /* Typewriter effect 1 */
  @keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "D"; }
    2.2791%, 25.0698% { content: "De"; }
    3.4186%, 23.9302% { content: "Dev"; }
    4.5581%, 22.7907% { content: "Deve"; }
    5.6977%, 21.6512% { content: "Devel"; }
    6.8372%, 20.5116% { content: "Develo"; }
    7.9767%, 19.3721% { content: "Develop"; }
    9.1163%, 18.2326% { content: "Develope"; }
    10.2558%, 17.0930% { content: "Developer"; }
  
    30.7674%, 51.2791% { content: ""; }
    31.9070%, 50.1395% { content: "D"; }
    33.0465%, 49.0000% { content: "De"; }
    34.1860%, 47.8605% { content: "Des"; }
    35.3256%, 46.7209% { content: "Desi"; }
    36.4651%, 45.5814% { content: "Desig"; }
    37.6047%, 44.4419% { content: "Design"; }
    38.6047%, 44.4419% { content: "Designe"; }
    39.6047%, 44.4419% { content: "Designer"; }
  
    54.6977%, 75.2093% { content: ""; }
    55.8372%, 74.0698% { content: "L"; }
    56.9767%, 72.9302% { content: "La"; }
    58.1163%, 71.7907% { content: "Lar"; }
    59.2558%, 70.6512% { content: "Larr"; }
    60.3953%, 69.5116% { content: "Larry"; }
    61.5349%, 68.3721% { content: "Larry D"; }
    62.5349%, 68.3721% { content: "Larry Da"; }
    63.5349%, 68.3721% { content: "Larry Dan"; }
    64.5349%, 68.3721% { content: "Larry Dani"; }
    65.5349%, 68.3721% { content: "Larry Danie"; }
    66.5349%, 68.3721% { content: "Larry Danien"; }
    67.5349%, 68.3721% { content: "Larry Danien"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      25% { content: "writer"; }
      50% { content: "reader"; }
      75% { content: "human"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }


  /* about */

  .about{
    padding-top: 50px;
    padding-bottom: 90px;
    margin: auto;
  }

  .about-content{
    display: grid;
    grid-template-columns: 42% 55%;
    gap: 3%;
  }

  .about-right{
    position: relative;
  }

  .about-right img{
    width: 85%;
    float: right;
  }

  .about-right::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    top: 28%;
    left: 45px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -10;
  }

  .about-left span{
    color: #999;
    letter-spacing: 1.5px;
  }

  .about-left p{
    color: #748182;
  }

  .about-left .prog-h{
    height: 23px;
  }

  .prog-l{
    text-align: left;
    font-size: 15px;
    padding: 0px 10px;
  }

  .progafter1::after{
    content: "95%";
    position: absolute;
    right: 10px;
  }

  .progafter2::after{
    content: "85%";
    position: absolute;
    right: 10px;
  }
  .progafter3::after{
    content: "90%";
    position: absolute;
    right: 10px;
  }

  .about-btn button{
    border: 1px solid black;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 30px;
  }

  .about-btn .btn1{
    background-color: black;
    color: white;
    transition: background-color 0.5s , color 0.5s;
  }

  .about-btn .btn1:hover{
    background-color: white;
    color: black;
  }

  .about-btn .btn2{
    background-color: white;
    color: black;
    transition: background-color 0.5s , color 0.5s;
  }

  .about-btn .btn2:hover{
    background-color: black;
    color: white;
  }


  /* Services */

  .Services{
    margin: auto;
    padding: 90px 0;
    text-align: center;
  }

  .Services-header{
    position: relative;
    width: 20%;
    margin: auto;
    margin-bottom: 60px;
  }

  .Services-header h2{
    font-size: 45px;
    font-weight: bolder;
  }

  .Services h2::after{
    content: "";
    position: absolute;
    width:80%;
    height: 70%;
    top: 50%;
    left: 10%;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -100;
  }

  .Services-content{
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    justify-content: space-between;
    grid-row-gap: 35px;
  }

  .Services-item{
    background-color: white;
    padding: 50px 20px;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .Services-item i{
    color: black;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background-color: #f4f4f4;
    transition:background-color 0.5s , color 0.5s ;
  }

  .Services-item:hover i{
    background-color: black;
    color: white;
  }

  .Services-item h3{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
  }

  .Services-item p{
    color: #999;
  }

  /* portofoli */
.portofolio{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portofolio-title{
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.portofolio-title::after{
  content: "";
  background-image: url(../images/dots.png);
  background-repeat: repeat;
  left: 50%;
  transform: translate(-50%);
  width: 13%;
  height: 55%;
  position: absolute;
  top: 40%;
  z-index: -1;
}

.list-inline-item1{
  text-align: center;
}

.list-inline-underline{
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 115%;
}


.portofolio-items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.portofolio-item img{
  width: 100%;
}

.portofolio-overlay{
  left: 5px;
  top: 20px;
  right: 5px;
  bottom: 5px;
  width: 97%;
  height: 97%;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  visibility: hidden;
  transition: top 0.5s , opacity 0.5s , visibility 0.5s;
}

.portofolio-item:hover .portofolio-overlay{
  top: 5px;
  opacity: 1;
  visibility: visible;
}

.portofolio-overlay-content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}



.portofolio-overlay-content ul{
  padding: 0%;
  transform: translateY(10px);
  transition: transform 0.5s;
}

.portofolio-item:hover .portofolio-overlay-content ul{
  transform: translateY(-5px);
}

.portofolio-overlay-content ul li i{
  background-color: black;
  padding: 10px;
  color: white;
  border: 1px solid black;
  transition: color 0.5s , background-color 0.5s;
}

.portofolio-overlay-content ul li i:hover{
  background-color: white;
  color: black;
}

.portofolio-overlay-content-title{
  transform: translateY(-15px);
  transition: transform 0.5s;
}

.portofolio-item:hover .portofolio-overlay-content-title{
  transform: translateY(5px);
}

/* Testimonials */

.testi{
  background: #f7f7f7;
}

.Testimonials{
  margin: auto;
  padding-top: 90px;
  padding-bottom: 120px;
}

.Testimonials-content{
  text-align: center;
}

.Testimonials-header{
  position: relative;
  width: 30%;
  margin: auto;
  margin-bottom: 60px;
}

.Testimonials-header h2{
  font-size: 45px;
  font-weight: bolder;
}

.Testimonials h2::after{
  content: "";
  position: absolute;
  width:95%;
  height: 70%;
  top: 50%;
  left: 3%;
  background-image: url(../images/dots.png);
  background-repeat: repeat;
  z-index: -100;
}

.test-item img{
  width: 80px;
  border-radius: 50%;
}

.test-item p{
  color: #748182;
  margin: 15px 0;
}

.test-item span{
  color: #748182;
  font-size: 14px;
  font-weight: bold;
}
.test-item h6{
margin-bottom: 0;
}

.carousel-top{
  top: 110%;
}

.carousel-top .btn{
  width: 10px;
  height: 10px;
  background-color: #869791;
  border-radius: 50%;
}

/* Clients */

.Clients{
  padding: 100px 0;
  background-color: white;
}

.Clients-content{
  margin: auto;
  display: grid;
  grid-template-columns: 21% 21% 21% 21%;
  justify-content: space-between;
  text-align: center;
}

.Clients-item i{
  color: #343434;
  margin-bottom: 15px;
}

.Clients-item h3{
  color: #343434;
  font-weight: bolder;
}

.Clients-item span{
  color: #748182;
  font-weight: bold;
}


/* team */

.team{
  background: #f7f7f7;
}

.team-items{
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(3,1fr);
 
}

.card-body{
  background-color: rgba(52, 52, 52,.8);
}

.card img{
  transition: transform 0.5s;
}

.card img:hover{
  transform:scale(1.2);
}

.card-img-overlayy{
   background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    text-align: center;
    inset: 5px;
    opacity: 0;
    transition: 0.5s;
    transform: scale(0.5, 0.5);
    transition: opacity 0.5s ,transform 0.5s;
}

.card-img-overlayy:hover .card img{ 
  transform: scale(1.2);
}

.card:hover .card-img-overlayy{
  opacity: 1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  transform: rotateY(180deg);
}

.card-icons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.card-icons i{
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid black;
  transform: rotateY(180deg);
  transition: color 0.5s , background-color 0.5s;
}

.card-icons i:hover{
  background-color: white;
  color: black;
}

/* Contact */

.Contact-section{
  margin: auto;
  padding: 100px 0;
  width: 80%;
}

.Contact-header{
  position: relative;
  width: 30%;
  margin: auto;
  margin-bottom: 60px;
}

.Contact-header h2{
  font-size: 45px;
  font-weight: bolder;
}

.Contact h2::after{
  content: "";
  position: absolute;
  width:70%;
  height: 70%;
  top: 50%;
  left: 1%;
  background-image: url(../images/dots.png);
  background-repeat: repeat;
  z-index: -100;
}

.Contact-content{
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-evenly;
}

.contact-item i{
  color: black;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  background-color: #f4f4f4;
  transition:background-color 0.5s , color 0.5s ;
  margin-bottom: 10px;
}

.contact-item:hover i{
  background-color: black;
  color: white;
}

.contact-item h3{
  font-size: 20px;
}

.contact-item span{
  color: #748182;
}

.Contact-section form{
  margin-top: 100px;
}

.Contact-section form input , .Contact-section form textarea{
  padding: 0 10px;
  background-color: #f4f4f4;
  outline: none;
  border: none;
}

.Contact-section form input{
  width: 45%;
  margin-left: 30px;
  padding: 10px 10px;
}

.Contact-section form textarea{
  margin-left: 30px;
  width: 93.5%;
  margin-top: 20px;
}

form button{
  border: 1px solid black;
  padding: 10px 35px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 30px;
}

form button{
  background-color: black;
  color: white;
  transition: background-color 0.5s , color 0.5s;
}

form button:hover{
  background-color: #f7f7f7;
  color: black;
}

/* footer */

.footer{
  text-align: center;
  padding: 25px 0;
}

.footer p{
  color: #748182;
  margin-top: 15px;
}

/* mobile */
@media screen and (max-width: 480px) {

  body{
    width: 100vw;
    overflow-x:hidden ;
  }

  .container{
    width: 95%;
    margin: auto;
  }
  .home h1{
    font-size:30px;
  }

  .home-content h2{
    font-size: 50px;
  }

  .about-content{
    grid-template-columns: 99%;
    gap: 0;
    row-gap: 30px;
  }

  .about-right img{
    width: 100%;
  }

  .about-right::after{
    background-image: none;
  }

  .Services-content{
    grid-template-columns: 99%;
    justify-content: none;
  }

  .Services h2::after{
    background-image: none;
  }

  .Services-header h2{
    text-align: center;
  }

  .Services-header{
    width:100%;
  }

  .portofolio-items{
    display: grid;
    grid-template-columns: 100%;
  }

  .Testimonials-header{
    width: 100%;
  }

  .Testimonials h2::after{
    background-image: none;
  }

  .Testimonials-header h2{
    font-size: 30px;
  }

  .team-items{
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }

  .test-item p{
    font-size: 10px;
  }

  .test-item span{
    font-size: 10px;
  }

  .Contact-header{
    width: 100%;
  }

  .Contact-header h2{
    font-size: 30px;
    text-align: center;
  }

  .Contact-content{
    grid-template-columns: 100%;
    row-gap: 30px;
  }

  .Contact-section form input , .Contact-section form textarea{
    width: 100%;
    margin: 20px;
    margin-left: 0;
  }
  .Clients-content{
    grid-template-columns: 100%;
    row-gap: 50px;
  }
  .Clients-item span{
    font-size: 14px;
  }
}

/* tablets */
@media screen and (min-width: 481px) and (max-width: 960px) {
  .about-content{
    grid-template-columns: 100%;
    gap: 0;
    row-gap: 30px;
  }

  .about-right img{
    width: 100%;
  }

  .about-right::after{
    background-image: none;
  }

  .Services-content{
    grid-template-columns: 100%;
    justify-content: none;
  }

  .Services h2::after{
    background-image: none;
  }

  .Services-header h2{
    text-align: center;
  }

  .portofolio-items{
    display: grid;
    grid-template-columns: 49% 49%;
  }

  .Testimonials-header{
    width: 100%;
  }

  .Testimonials h2::after{
    background-image: none;
  }

  .Testimonials-header h2{
    font-size: 30px;
  }

  .team-items{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 20px;
  }

  .test-item p{
    font-size: 10px;
  }

  .test-item span{
    font-size: 10px;
  }

  .Contact-header{
    width: 100%;
  }

  .Contact-header h2{
    font-size: 30px;
    text-align: center;
  }

  .Contact-content{
    grid-template-columns: 100%;
    row-gap: 30px;
  }

  .Contact-section form input , .Contact-section form textarea{
    width: 100%;
    margin: 20px;
    margin-left: 0;
  }

  .Clients-content{
    grid-template-columns: 100%;
    row-gap: 50px;
  }
}

nav{
  transition: all 0.5s;
}

.active{
  color: grey !important;
}